
<!DOCTYPE html>
<html>
<head>
    <title>Access Denied</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/caution.css">
    <link rel="stylesheet" href="./css/w3.css">
</head>
<body>
<div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top w3-center"><code>Access Denied</code></h1>
    <hr class="w3-border-white w3-animate-left" style="margin:auto;width:50%">
    <h3 class="w3-center w3-animate-right">접근이 불가합니다.</h3>
    <h3 class="w3-center w3-animate-right">허가되지 않는 방법으로 특정 메뉴 접근 시도 시,<br>정보통신망 이용촉진 및 정보보호 등에 관한 법률 제48조 제1항에 의거, 처벌될 수 있습니다.</h3>
    <h3 class="w3-center w3-animate-zoom">🚫🚫🚫🚫</h3>
    <h6 class="w3-center w3-animate-zoom">error code:403 forbidden</h6>
</div>
</body>
</html>