<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">Test</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <% if (user){ %>
                <li class="nav-item">
                    <a class="nav-link" href="/write">Write</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mypage">MyPage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/list">List</a>
                </li>
            <% } %>
            <li class="nav-item">
                <a class="nav-link" href="/join">Join</a>
            </li>

            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link disabled" href="#">Disabled</a>-->
            <!--            </li>-->
        </ul>
        <% if (user) { %>
            <button type="button" class="btn btn-primary" style="margin-right: 10px"
                    onclick={window.location.href="/logout"}>LOGOUT
            </button>
        <% }else { %>
            <button type="button" class="btn btn-primary" style="margin-right: 10px"
                    onclick={window.location.href="/login"}>LOGIN
            </button>
        <% } %>

        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<h4 class="container mt-4"><strong>글 확인페이지</strong></h4>

<% if (user) { %>
    <h1><%= user.id%>님, 환영합니다!</h1>
    <ul class="list-group">
        <li class="list-group-item">
            현재 등록된 글의 수는 <%= data.totalPost %> 개입니다.
        </li>
    </ul>
<% }else{ %>
    <h2>로그인하고 더 많은 정보를 만나보세요!</h2>
<% } %>
</body>
</html>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
