<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Eric's 방명록</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/home.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        const myModal = document.getElementById('myModal')
        const myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', () => {
            myInput.focus()
        })

    </script>
</head>
<body>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">CAUTION!</h1>
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->

            </div>
            <div class="modal-body">
            이 페이지는 단순 개발 공부를 위해 작성된 페이지입니다. 회원가입을 통해 모든 서비스를 이용해보세요! <br>모든 개인 정보는 <strong>단방향 암호화</strong>되어 저장됩니다. <br>이용에 참고해주시기 바랍니다.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">Eric's 방명록</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <% if (user){ %>
                <li class="nav-item">
                    <a class="nav-link" href="/write">Write</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/list">List</a>
                </li>
            <% } %>
            <% if (user.role==="admin"){ %>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
            <% } %>
            <li class="nav-item">
                <a class="nav-link" href="/join">Join</a>
            </li>

            <!--            <li class="nav-item">-->
            <!--                <a class="nav-link disabled" href="#">Disabled</a>-->
            <!--            </li>-->
        </ul>
        <form class="form-inline my-2 my-lg-0" style="margin-right: 10px" ;>
            <%= user.nickname%>님 환영합니다

        </form>
                <button type="button" class="btn btn-primary" style="margin-right: 10px"
        onclick={window.location.href="/mypage"}>My Page
        </button>
        <% if (user) { %>
            <button type="button" class="btn btn-primary" style="margin-right: 10px"

                    onclick={window.location.href="/logout"}>LOGOUT

            </button>
        <% }else { %>
            <button type="button" class="btn btn-primary" style="margin-right: 10px"
                    onclick={window.location.href="/login"}>LOGIN
            </button>
        <% } %>

    </div>
</nav>

<!--<h4 id="nameofpage">dd</h4>-->

<!--<% if (user) { %>-->
<!--    <h1><%= user.id%>님, 환영합니다!</h1>-->
<!--    <ul class="list-group">-->
<!--        <li class="list-group-item">-->
<!--            현재 등록된 글의 수는 <%= data.totalPost %> 개입니다.-->
<!--        </li>-->
<!--    </ul>-->
<!--<% }else{ %>-->
<!--    <h2>로그인하고 더 많은 정보를 만나보세요!</h2>-->
<!--<% } %>-->

<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">환영합니다!</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">오늘은 어떤 이가 발자취를 남기러 오셨을지 궁금하네요.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3" onclick={window.location.href='/list'}>방명록</button>
<!--            <button type="button" class="btn btn-outline-secondary btn-lg px-4" onclick={window.location.href='/join'}>회원가입하기</button>-->
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                주의사항
            </button>

        </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
<!--            <img src="kiki.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" width="620" height="414">-->
            <video src="main.mp4" height="100px" width="300px" autoplay muted></video>
        </div>
    </div>
</div>

</body>
</html>

